form {
    margin-left:30%;
    width:600px;
    margin-top:50px;
}

table {
    width: 100%; /* Ширина таблицы в процентах */
   }
   .colwi {
    font-family: Calibri;
    font-size: 120%;
    width: 250px; /* Ширина ячейки */
   }
   .colwi1 {
    font-family: Calibri;
    font-size: 150%;
    width: 250px; /* Ширина ячейки */
   }


html, body {
    height: 100%;
    margin: 0;
   }
   .content {
    min-height: 100%;
   }
   .content-inside {
    padding: 20px;
    padding-bottom: 20px;
   }
   .footer {
    height: 20px;
    margin-top: -20px;
   }

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }